Repository CS2103-AY1819S1-T16-2/main, pull requests merged in 2018-11, with the labels that each got.

#100 Updated DeveloperGuide to match SuperTA
  docs/DeveloperGuide.adoc
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/diagrams/LogicComponentClassDiagram.pptx
  docs/diagrams/LogicComponentSequenceDiagram.pptx
  docs/diagrams/ModelComponentClassBetterOopDiagram.pptx
  docs/diagrams/ModelComponentClassDiagram.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/images/DeleteAssignmentSdForLogic.png
  docs/images/LogicClassDiagram.png
  docs/images/ModelClassBetterOopDiagram.png
  docs/images/ModelClassDiagram.png
  docs/images/SDforDeleteAssignment.png
  docs/images/SDforDeleteAssignmentEventHandling.png
  docs/images/SDforDeletePerson.png
  docs/images/SDforDeletePersonEventHandling.png
  docs/images/StorageClassDiagram.png
  src/main/java/seedu/superta/storage/Storage.java
  src/main/java/seedu/superta/storage/StorageManager.java
  src/main/java/seedu/superta/ui/StatusBarFooter.java
  src/test/java/seedu/superta/storage/StorageManagerTest.java
Labels: docs, priority.Medium

#110 Update User Guide
  docs/UserGuide.adoc
Labels: docs

#134 Update User Guide
  docs/UserGuide.adoc
Labels: docs

#131 Added tests for create attendance command, mark attendance command
  src/main/java/seedu/superta/logic/commands/CreateAttendanceCommand.java
  src/main/java/seedu/superta/logic/commands/FeedbackCommand.java
  src/main/java/seedu/superta/logic/commands/MarkAttendanceCommand.java
  src/main/java/seedu/superta/logic/parser/CreateAttendanceCommandParser.java
  src/main/java/seedu/superta/logic/parser/FeedbackCommandParser.java
  src/main/java/seedu/superta/logic/parser/MarkAttendanceCommandParser.java
  src/main/java/seedu/superta/model/attendance/Attendance.java
  src/main/java/seedu/superta/model/attendance/Session.java
  src/main/java/seedu/superta/storage/XmlAdaptedAttendance.java
  src/main/java/seedu/superta/storage/XmlAdaptedSession.java
  src/test/java/seedu/superta/logic/commands/CreateAttendanceCommandTest.java
  src/test/java/seedu/superta/logic/commands/FeedbackCommandTest.java
  src/test/java/seedu/superta/logic/commands/MarkAttendanceCommandTest.java
  src/test/java/seedu/superta/logic/parser/CreateAttendanceCommandParserTest.java
  src/test/java/seedu/superta/logic/parser/FeedbackCommandParserTest.java
  src/test/java/seedu/superta/logic/parser/MarkAttendanceCommandParserTest.java
  src/test/java/seedu/superta/logic/parser/SuperTaClientParserTest.java
  src/test/java/seedu/superta/model/attendance/AttendanceTest.java
  src/test/java/seedu/superta/model/attendance/SessionTest.java
  src/test/java/seedu/superta/storage/XmlAdaptedAttendanceTest.java
  src/test/java/seedu/superta/storage/XmlAdaptedSessionTest.java
Labels: priority.Medium, tests

#136 Update find command
  docs/UserGuide.adoc
  src/main/java/seedu/superta/logic/parser/FindCommandParser.java
  src/test/java/seedu/superta/logic/parser/FindCommandParserTest.java
Labels: docs, enhancement

#143 Update help messages
  src/main/java/seedu/superta/logic/commands/AddCommand.java
  src/main/java/seedu/superta/logic/commands/AddStudentToTutorialGroupCommand.java
  src/main/java/seedu/superta/logic/commands/CreateAssignmentCommand.java
  src/main/java/seedu/superta/logic/commands/CreateAttendanceCommand.java
  src/main/java/seedu/superta/logic/commands/CreateTutorialGroupCommand.java
  src/main/java/seedu/superta/logic/commands/DeleteAssignmentCommand.java
  src/main/java/seedu/superta/logic/commands/DeleteTutorialGroupCommand.java
  src/main/java/seedu/superta/logic/commands/EditCommand.java
  src/main/java/seedu/superta/logic/commands/FindCommand.java
  src/main/java/seedu/superta/logic/commands/GradeAssignmentCommand.java
  src/main/java/seedu/superta/logic/commands/MarkAttendanceCommand.java
  src/main/java/seedu/superta/logic/commands/UpdateTutorialGroupCommand.java
  src/main/java/seedu/superta/logic/commands/ViewAssignmentCommand.java
  src/main/java/seedu/superta/logic/commands/ViewSessionCommand.java
  src/main/java/seedu/superta/logic/commands/ViewTutorialGroupCommand.java
  src/test/java/seedu/superta/logic/commands/MarkAttendanceCommandTest.java
Labels: enhancement

#151 Update developer guide
  docs/DeveloperGuide.adoc
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/images/UiClassDiagram.png
Labels: docs

#153 Add PPP
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/keithtan.adoc
Labels: docs

#158 Update user guide
  docs/UserGuide.adoc
  src/main/java/seedu/superta/logic/commands/UpdateTutorialGroupCommand.java
Labels: docs

#160 Update DG and PPP
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/diagrams/HighLevelSequenceDiagrams.pptx
  docs/diagrams/MarkAttendanceSequenceDiagram.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/diagrams/UndoRedoSequenceDiagram.pptx
  docs/images/SDforMarkAttendance1.png
  docs/images/SDforMarkAttendance2.png
  docs/images/StorageClassDiagram.png
  docs/images/UndoRedoSequenceDiagram.png
  docs/team/triger15.adoc
  docs/team/yuheong.adoc
Labels: docs

#167 View feedback bug, increase test coverage for view-feedback
  src/main/java/seedu/superta/logic/commands/ViewStudentFeedbackCommand.java
  src/main/java/seedu/superta/logic/parser/ViewStudentFeedbackCommandParser.java
  src/main/java/seedu/superta/storage/XmlAdaptedFeedback.java
  src/test/java/seedu/superta/logic/commands/ViewStudentFeedbackCommandTest.java
  src/test/java/seedu/superta/logic/parser/ViewStudentFeedbackCommandParserTest.java
Labels: bug, severity.Medium, tests

#168 Update ug, dg, ppp
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/team/triger15.adoc
Labels: docs
